@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;700&family=Geologica:wght@400;900&family=MuseoModerno:wght@600&display=swap');
body {
    font-family: 'Asap', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Geologica', sans-serif;
}

p {
    font-family: 'MuseoModerno', cursive;
}

html{
  overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    z-index: 9999;
   
  }

.logores{
  display: none;
}

.contact2{
  display: none;
}

nav {
    background-color: #000000;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 50px;
}

nav ul li a {
    color: #7c7c84;
    text-decoration: none;
    padding: 5px 10px;
    transition: color 0.3s;
    display: flex;
    align-items: center;
}

nav ul li a:hover {
    color: #ffffff;
}



.contact {
    color: #04040c;
    transition: color 0.3s;
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    background-color: #3f3fbf;
    border-radius: 16px;
    text-decoration: none;
    font-weight: bold;
}

.contact:hover {
    background-color: #9b9bdd;
}

.contact::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #04040c;
    opacity: 0.3;
    border-radius: 8px;
    z-index: -1;
    transition: opacity 0.3s;
}

.contact:hover::after {
    opacity: 0.6;
}

.logo {
    width: 120px;
    height: 50px;
    margin-right: 5px;
}

.caja{
    display: flex;
    background-color: #7c7c84;
    height: 750px;
    padding-top: 44px;

}


.inicio{
    display: flexbox;
    height: 700px;

}

.welcome{
    width: 700px;
    height: 300px;
    display: flex;
    font-weight: 800;
    font-size: 50px;
    padding-left: 3%;
    padding-top: 2%;
}

.w1{
    width: 700px;
    font-size: 25px;
    color: #ffffff;
    padding-left: 4%;
    padding-bottom: 5%;
    
}

.boton{
    
    padding-left: 25%;
}

.button {
    color: #ffffff;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background-color:#000000;
    border-radius: 16px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #3f3fbf;
    color: #04040c;
  }
  
  .button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #04040c;
    opacity: 0.3;
    border-radius: 8px;
    z-index: -1;
    transition: opacity 0.3s;
  }
  
  .button:hover::after {
    opacity: 0.6;
  }

  .cont{
    display: flex;
    background-color: #3f3fbf;
    width: 400px;
    height: 500px;
    margin-top: 10%;
    margin-left: 15%;
    overflow: hidden;
  }
  
  /* Estilos generales del carrusel */
.swiper-container {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #333333;
  }
  
  /* Estilos de la paginación */
  .swiper-pagination {
    position: relative;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    margin-left: 55%;
    margin-bottom: 1%;
  }
  
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #999999;
    border-radius: 50%;
    margin: 0 5px;
    opacity: 0.8;
    transition: opacity 0.3s;
  }
  
  .swiper-pagination-bullet-active {
    opacity: 1;
  }

.informacion_inicial:not(.informacion_inicial_titulo){
  background-color: #3f3fbf;
  width: 100%;
  margin-top: -23px;
  display: flex;
  justify-content: center;
}
.informacion_inicial_titulo{
  position: absolute;
  display: flex;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  margin-top: -1px;
  width: 1000px;
}

.programacion{

width: 500px;
height: 70%;
margin-top: 8%;
}

.celular{
  width: 150px;
  height: 150px;
  margin-left: 30%;
}

.celular_titulo{
  margin-left: 12%;
  color: #ffffff;
  width: 350px;
}

.celular_text{
  color: #ffffff;
  font-size: 22px;
  width: 400px;
  height: 150px;
  margin-left: 2%;
  display: flex;
  text-align: center;
}

.marketing{
  width: 500px;
  height: 70%;
  margin-top: 8%;
}

.pc{
  display: flex;
  width: 150px;
  height: 150px;
  margin-left: 30%;
}

.pc_titulo{
  margin-left: 13%;
  color: #ffffff;
  width: 350px;
}

.pc_text{
  color: #ffffff;
  font-size: 22px;
  width: 400px;
  height: 130px;
  margin-left: 5%;
  display: flex;
  text-align: center;
}

.datos{
  width: 500px;
  height: 70%;
  margin-top: 8%;
}

.lupa{
  display: flex;
  width: 150px;
  height: 150px;
  margin-left: 30%;
}

.lupa_titulo{
  margin-left: 15%;
  color: #ffffff;
  width: 350px;
}

.lupa_text{
  color: #ffffff;
  font-size: 22px;
  width: 400px;
  height: 150px;
  margin-left: 5%;
  display: flex;
  text-align: center;
}

.caja_tecnologia{
  width: 100%;
  height: 800px;
  background-color: #000000;
  display: flex;
}
.caja_tecnologia_text{
  width: 50%;
  height: 800px;
  font-size: 33px;
  text-align: center;
  color: #9b9bdd;
  padding-top: 30px;
  margin-left: 45%;
}

.tel{
  width: 20%;
  height: 600px;
  margin-left: -85%;
  margin-top: 5%;
}
.caja_marketing{
  width: 100%;
  height: 800px;
  background-color: #999999;
  display: flex;
}
.caja_marketing_text{
  width: 50%;
  height: 800px;
  font-size: 33px;
  text-align: center;
  padding-top: 30px;
}
.img_marketing{
  width: 50%;
}
.caja_datos{
  width: 100%;
  height: 800px;
  background-color: #3f3fbf;
  display: flex;
}
.caja_datos_text{
  width: 50%;
  height: 800px;
  font-size: 33px;
  text-align: center;
  padding-top: 30px;
  color: #9b9bdd;
  margin-left: 50%;
}
.img_datos{
  width: 50%;
  margin-left: -100%;
}
.que_es_tech_camus{
 background-color: #000000;
 height: 800px;
 display: flex;
}

.que_es_tech_camus_titulo{
  text-align: center;
  color: #3f3fbf;
  font-size: 80px;
  margin-left: 20%;
  margin-top: 2%;
}
.logo_principal{
  width: 40%;
  height: 70%;
  margin-top: 8%;
  margin-left: -75%;
}
.que_es_tech_camus_text{
  color: #9b9bdd;
  font-size: 26.5px;
  width: 50%;
  height: 70%;
  margin-top: 10%;
  text-align: right;
}
.preguntas_frecuentes {
  margin-bottom: 40px;
background-color: #000000;
margin-top: -3%;
}

.preguntas_frecuentes_titulo {
  text-align: center;
  margin-bottom: 20px;
  color: #3f3fbf;
}

.preguntas_frecuentes_titulo h1 {
  font-size: 40px;
}

.preguntas {
  list-style: none;
}

.preguntas li {
  font-size: 155%;
  margin-bottom: 20px;
  color: #9b9bdd;
}

.details {
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
  background-color: #9b9bdd;
  color: #fff;
}

.details summary {
  font-weight: bold;
  color: #3f3fbf;
}

.details p {
  margin-top: 10px;
  color: #3f3fbf;
}

.comunicate_con_nosotros{
  background-color: #000000;
  height: 1000px;
 display: flex;
 margin-top: -3%;
}
.comunicate_con_nosotros_titulo{
  text-align: center;
  color: #3f3fbf;
  font-size: 60px;
  margin-left: 20%;
  display: flex;
  margin-top: 5%
}
.comunicate_con_nosotros_formulario {
  background-color: #9b9bdd;
  width: 700px;
  height: 680px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 13%;
  margin-left: -55%;
  border-radius: 16%;
  box-shadow: 0 0 10px #fff;
}

.comunicate_con_nosotros_formulario h1 {
  color: #3f3fbf;
  font-size: 45px;
  margin-bottom: 20px;
}

.comunicate_con_nosotros_formulario form {
  width: 80%;
}

.comunicate_con_nosotros_formulario label {
  color: #3f3fbf;
  font-size: 20px;
}

.comunicate_con_nosotros_formulario input[type="text"],
.comunicate_con_nosotros_formulario input[type="tel"],
.comunicate_con_nosotros_formulario input[type="email"],
.comunicate_con_nosotros_formulario textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 15px;
  background-color: #3f3fbf;
  color: #fff;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.comunicate_con_nosotros_formulario input[type="submit"] {
  background-color: #3f3fbf;
  color: #fff;
  border-radius: 15px;
  padding: 15px 25px;
  font-size: 30px;
  cursor: pointer;
  margin-left: 40%;
}

.comunicate_con_nosotros_formulario input[type="submit"]:hover {
  background-color: #45a049;
}

/* Estilos generales del footer */
footer {
  background-color: #3f3fbf;
  color: #fff;
  padding: 30px;
  text-align: center;
}

/* Estilos para la primera columna */
footer h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

footer p {
  font-size: 14px;
  margin-bottom: 20px;
}

/* Estilos para la segunda y tercera columna */
footer h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Estilos para los enlaces */
footer a {
  color: #9b9bdd;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #ffffff;
}

/* Estilos para la línea divisoria */
footer hr {
  border-color: #fff;
  margin: 40px auto;
  width: 50%;
}

/* Estilos para el mensaje de derechos de autor */
footer p:last-child {
  font-size: 12px;
  margin-top: 20px;
}

/* Estilos para la estructura de columnas */
footer div {
  display: inline-block;
  vertical-align: top;
  margin: 0 20px;
}

/* Estilos para la lista de enlaces */
footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Estilos para los elementos de la lista */
footer li {
  margin-bottom: 10px;
}


  @media only screen and (min-width:1201px) and(max-width:1500px){

    body{
      width: 1500px;
    }

    header{
      width: 100%;
    }
    
    nav ul li {
      margin-right: 170px;
    }
    
    
    .caja{
      display: flex;
      background-color: #7c7c84;
      height: 750px;
      width: 100%;
      padding-top: 44px;
    }
    
    .inicio{
      margin-left: 10%;
    }
    .cont{
      display: flex;
      margin-left: none;
    }
  }
  
  
  @media only screen and (min-width:768px) and (max-width:1024px){
    nav ul li {
      margin-right: 10px;
      font-size: 13px;
  }
  .cont{
    width: 400px;
    height: 500px;
    margin-left: 50px;
    margin-top: 130px;
}
  body{
    width: 1024px;
    height: 100%;
  }

  header{
    width: 100%;
  }
  
  .caja{
      width: 100%;
    }
  
    .welcome{
      font-size: 30px;
      width: 420px;
      height: 170px;
    }
    .w1{
      font-size: 20px;
      width: 410px;
    }
    .inicio{
      margin-left: 10%;
      margin-top: 80px;
    }
    .programacion{
      width: 330px;
      height: 70%;
    }

    .celular{
      margin-left: 25%;
    }
    .celular_text{
      font-size: 18px;
      width: 300px;
    }
    .celular_titulo{
      font-size: 25px;
    }
    .marketing{
      width: 330px;
      height: 70%;
    }
    .pc{
      margin-left: 25%;
    }
    .pc_text{
      font-size: 18px;
      width: 300px;
    }
    .pc_titulo{
      font-size: 25px;
    }
    .datos{
      width: 330px;
      height: 70%;
    }
    .lupa{
      margin-left: 25%;
    }
    .lupa_text{
      font-size: 18px;
      width: 300px;
    }
    .lupa_titulo{
      font-size: 25px;
      width: 300px;
    }
  }
  

  
  @media only screen and (min-width:1024px) and (max-width: 1300px ){
    body{
      width: 1300px;
      height: 100%;
    }
    header{
      width: 100%;
    }
    nav{
      width: 100%;
    }
    nav ul li {
      margin-right: 16px;
  }
  .caja{
    width: 100%;
    height: 850px;
  }
 .welcome{
  font-size: 45px;
  height: 280px;
  width: 650px;
 }
 .w1{
  font-size: 25px;
  width: 600px;
 }
 .inicio{
  margin-left: 40px;
 }
.cont{
    width: 400px;
    height:500px;
    margin-left:0%;
    margin-top: 150px;
  }
  
}

  
  @media (max-width:768px){

    body{
      width: 768px;
      height: 100%;
    }

    header {
      width: 100%;
      height: 5%;
    }
    nav ul li {
      margin-right: 1px;
      font-size: 10px;
    }
    
  
    .logo{
      display: none;
    }

    .highlight{
      display: none;
}

  nav {
    display: flex;
    flex-direction: column; /* Alinear los elementos verticalmente */
    align-items: flex-start; /* Alinear los elementos a la izquierda */
    margin-left: -24%;
    margin-top: 65%;
    padding: 10px;
    width: 300px ;
    height: 400px;
    opacity: 0.9;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  color: #000000;
  text-decoration: none;
  margin-bottom: 10px; /* Espacio entre cada elemento del menú */
}
  .caja{
    display: flex;
    background-color: #7c7c84;
    height: 1800px;
    width: 100%;
    padding-top: 44px;
    padding-left: none;
  }

  .cont{
    display: flex;
    background-color: #3f3fbf;
    width: 500px;
    height:600px;
    margin-top: 130%;
    margin-left: -25%;
    overflow: hidden;
  }
  .inicio{
    margin-left: 25%;
    width: 330px;
    margin-left: 0;
  }
  
  .swiper-pagination {
    position: relative;
    bottom: 20px;
    left: 10%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    margin-left: none;
    margin-bottom: 5%;
  }

  .welcome{
    width: 650px;
    height: 300px;
    margin-left: 25%;
    margin-right: auto;
    display: flex;
    font-weight: 800;
    font-size: 40px;
    margin-top: 10%;
}

.w1{
    width: 600px;
    font-size: 30px;
    margin-left: 20%;
    color: #ffffff;
    padding-bottom: 5%;
    margin-top: -15%;
    
}

.boton{
  margin-top: 15%;
  margin-left: -10%;
}
.button{
  padding: 15px 20px;
}

.swiper-pagination {
  position: relative;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  margin-left: none;
  margin-bottom: 1%;
}


header {
  display: flex;
  align-items: center;
  background-color: #000000;
  padding: 10px;
  color: #fff;
  height: 65px;
  
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.hamburger-line {
  width: 100%;
  height: 3px;
  background-color: #fff;
  margin-left: 10px;
}

nav {
  display: none;
  background-color: #000000;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
  font-size: 30px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

nav ul li a:hover {
  color: #3f3fbf;;
}

/* Estilos para el menú desplegable */
.nav-active {
  display: block;
}


nav.nav-active {
  /* Estilos del menú cuando está abierto */
  display: block;
  /* Otros estilos del menú abierto */
}


.contact2 {
  color: #04040c;
  transition: color 0.3s;
  position: relative;
  display: flex;
  padding: 5px 15px;
  background-color: #3f3fbf;
  border-radius: 16px;
  text-decoration: none;
  font-weight: bold;
  left: 65%;
}

.contact2:hover {
  background-color: #9b9bdd;
}

.contact2::after {
  content: "";
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #04040c;
  opacity: 0.3;
  border-radius: 8px;
  z-index: -1;
  transition: opacity 0.3s;
}

.contact2:hover::after {
  opacity: 0.6;
}
.logores{
  position: absolute;
  display: flex;
  width: 180px;
  left: 50px;
}
.informacion_inicial{
  height: 1500px;
  justify-content: none;
}

.informacion_inicial_titulo{
  font-size: 40px;
  width: 100%;
  margin-top: 10%;
  margin-left: -3%;
  text-align: center;
}
.programacion{
  margin-left: 1%;
  margin-top: 25%;
}
.marketing{
margin-top: 80%;
margin-left: -65%;
}
.datos{
  margin-top: 140%;
  margin-left: -65%;
}
}

@media (max-width:500px){
  body{
    width: 500px;
    height: 100%;
  }
  header{
    width: 100%;
  }

  .logores{
    left: 50px;
    width:150px
  }
  .contact2{
    left: 51%;
    padding: 5px 10px;
    font-size: 20px;
  }
  nav{
    margin-top: 470px;
    margin-left: -200px;
  }
  .caja{
    width: 100%;
    height: 1500px
  }
  .welcome{
    font-size: 25px;
    width: 400px;
    height: 200px;
    margin-left: 15%;

  }
  .w1{
    width: 290px;
    font-size: 20px;
    margin-left: 20%;
    justify-content: center;
    text-align: center;
    
  }
  .boton{
    padding: 10px 20px;
    margin-left: 0.5px;
  }

  .cont{
    margin-top: 774px;
    margin-left: -55%;
    width: 350px;
    
  }
  .informacion_inicial{
    height: 1500px;
    justify-content: none;
  }
  
  .informacion_inicial_titulo{
    font-size: 25px;
    width: 100%;
    margin-top: 5%;
    text-align: center;
  }
  .programacion{
    margin-left:5%;
    margin-top: 30%;
  }
  .marketing{
  margin-top: 110%;
  margin-left: -95%;
  }
  .datos{
    margin-top: 200%;
    margin-left: -95%;
  }
}

@media(max-width:320px){
  body{
    width: 320px;
    height: 100%;
  }
  header{
    width: 100%;
  }
  nav{
  margin-left: -48%;
  }
  .logores{
    left: 50px;
    width:150px
  }
  .contact2{
    left: 51%;
    padding: 2px 5px;
    font-size: 15px;
  }
  nav{
    width: 320px;
  }
  .caja{
    width: 100%;
    height: 1500px
  }
  .welcome{
    font-size: 20px;
    width: 300px;
    height: 180px;
    margin-left: 0;

  }
  .w1{
    width: 290px;
    font-size: 20px;
    margin-left: 0;
    
  }
  .boton{
    padding: 10px 20px;
    margin-left: 0.5px;
  }

  .cont{
    margin-top: 774px;
    margin-left: -88%;
    width: 290px;
  }
  .inicio{
    width: 300px;
  }

  .informacion_inicial{
    height: 1500px;
    justify-content: none;
    width: 100%;
  }
  
  .informacion_inicial_titulo{
    font-size: 25px;
    width: 100%;
    margin-top: 5%;
    text-align: center;
  }
  .programacion{
    margin-left:-15%;
    width: 100%;

  }

  .celular_titulo{
    font-size: 20px;
    width: 210px;
    margin-left: 22%;
  }
  .celular_text{
    font-size: 15px;
    width: 250px;
    margin-left: 15%;
  }
  .marketing{
  margin-top: 160%;
  width: 100%;

  }

  .pc{
    margin-left: 25%;
  }

  .pc_titulo{
    font-size: 20px;
    width: 220px;
    margin-left: 15%;
  }
  .pc_text{
    font-size: 15px;
    width: 250px;
    margin-left: 10%;
  }
  .datos{
    margin-top: 300%;
    margin-left: -115%;
    width: 100%;

  }

  .lupa{
    margin-left: 38%;
  }

  .lupa_titulo{
    font-size: 20px;
    width: 210px;
    margin-left: 30%;
  }
  .lupa_text{
    font-size: 15px;
    width: 250px;
    margin-left: 22%;
  }
}

